<%- include('includes/head.ejs', { title: 'Admin' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <% include('includes/header.ejs') %>
  <main>
    <h1>Administrate Blog Posts</h1>
    <section>
      <h2>Create new posts</h2>
      <% include('includes/post-form'), {
        submitUrl: '/posts',
        hasError: inputData.hasError,
        errorMessage: inputData.message,
        title: inputData.title,
        content: inputData.content
      } %>
    </section>
    <section>
      <h2>All Blog Posts</h2>
      <% if (!posts || posts.lenth === 0) { %>
      <p>Could not find any posts. You need to first create some!</p>
      <% } else { %>
      <ul id="post-list">
        <% for( const post of posts ) { %>
        <% include('includes/post-item') %>
        <% } %>
      </ul>
      <% } %>
    </section>
  </main>
</body>

</html>